@page
@model IndexModel
@{
    ViewData["Title"] = "Projects";
}

<div class="masonryGrid" gap-x="20" gap-y="20" min-width="400" center-at-start>
    @{
        var items = new List<(string Link, string Title, string Description)>
        {
    ("https://github.com/DeadlyArtist/DeadlyJS", "DeadlyJS", "A large collection of useful vanilla js and css."),
    ("https://uniquewarriors.deadlyartist.com/", "Cyberfantasy: Unique Warriors", "A Cyberfantasy TTRPG created for epic combats in a mix of dystopian Cyberpunk, magical High Fantasy, and interdimensional SciFi."),
    ("https://github.com/DeadlyArtist/aidevsuite", "aidevsuite", "Automatically and quickly create tools by hand or with AI. Simple syntax allows quickly iterating through and creating highly specific tools for you or your clients without the need to go through the pain and effort of setting up yet another website."),
    ("https://github.com/DeadlyArtist/MinecraftProgression", "More Progression", "A minecraft mod that builds upon and extends vanilla minecraft progression. Default minecraft progression from wood to stone to iron to diamond is very enjoyable, but too short. To that end, this mod introduces new tiers, a custom tool and armor upgrade system, gourmet food, monster squads, and more."),
    ("https://redissonance.deadlyartist.com/", "Redissonance", " A TTRPG built around combat. Uses an ultra lightweight system designed to quickly get combats running that are interesting by default. Includes a local free character creator to get started immediately."),
        };
    }
    @foreach (var item in items)
    {
        <a class="masonryGridItem largeElement bordered hoverable" href="@item.Link" target="_blank">
            <h1>@item.Title</h1>
            @item.Description
        </a>
    }
</div>
